* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    padding: 40px 80px;
    position: relative;
    overflow: hidden;
}
#one {
    color: #272727;
    border: 5px solid #272727;
    font-size: 45px;
}
#one::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff200;
    z-index: -1;
    transform-origin: top left;
    transform: rotate(-90deg);
    transition: transform 0.5s;
}
#one:hover::before {
    transform: rotate(0deg);
}
#two {
    color: #351435;
    border: 3px solid #351435;
    font-size: 40px;
    transition: all 1s;
}
#two::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #351435;
    z-index: -1;
    transform: translate(-100%);
    transition: all 1s;
}
#two:hover::before {
    transform: translateX(0);
}
#two:hover {
    color: #fff;
}

#three {
    color: #262626;
    border: 5px solid #262626;
    font-size: 45px;
    transition: 1s;
    letter-spacing: 2px;
}
#three::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #262626;
    z-index: -1;
    transition: 1s;
    transform: rotateX(90deg);
}
#three::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #262626;
    z-index: -1;
    transition: 1s;
    transform: rotateY(90deg);
}
#three:hover::before {
    transform: rotateX(0deg);
}
#three:hover::after {
    transform: rotateY(0deg);
}
#three:hover {
    color: #fff;
}
#four {
    color: #E1332D;
    border: 3px solid #E1332D;
    font-size: 40px;
    transition: all 0.5s;
    font-weight: 300;
    letter-spacing: -2px;
    text-transform: uppercase; 
}
#four:hover {
    font-weight: 900;
    letter-spacing: 10px;
    border: 7px solid #E1332D;
}

#five {
    color: #000000;
    border: 3px solid #000;
    font-size: 40px;
    transition: all 1s;
}
#five::before {
    content: 'YEAH!';
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F44336;
    transform: translateY(-100%);
    transition: all 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}   
#five:hover::before {
    transform: translateY(0);
}
#six {
    font-size: 40px;
    border: 3px solid #000000;
    color: #000000;
    transition: all 0.5s;
}
#six:hover {
    background-color: #F44336;
    color: #fff;
}
#six::before {
    content: '';
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    transform: translateX(-100%) rotate(45deg);
    transition: all 1s;
}
#six:hover::before {
    transform: translateX(100%) rotate(45deg);
}